body {
    margin: 0;
    background-color: white;
}

:root {
    --wk-moonstone: #58A4B0;
    --wk-melon: #DAA49A;
    --wk-powder-blue: #A9BCD0;
    --wk-platinum: #D8DBE2;
    --wk-charcoal: #373F51;
    font-size: 18px;
}

code {
    white-space: pre;
}

.main {
    padding: 10px;
}


/* Further customisation */
.wiki-navbar-wrapper {
    background: var(--wk-powder-blue);
}

.wiki-navbar-wrapper .offcanvas {
    background: var(--wk-powder-blue);
}

.wiki-navbar-wrapper .navbar-nav {
    padding-right: 0;
}

.wiki-navbar-wrapper .navbar-nav .nav-link,
.wiki-navbar-wrapper .navbar-nav .nav-link.active {
    border-radius: 8px;
    border: 1px solid white;
    padding: .5rem 0;
    width: 180px;
    background: var(--wk-charcoal);
    color: white;
    box-shadow: 0 2px 8px var(--wk-charcoal);
    transition: transform .24s, background-color .24s, color .24s;
}
.wiki-navbar-wrapper .navbar-nav .nav-link:active {
    transform: scale(.9);
}
.wiki-navbar-wrapper .navbar-nav .nav-link:hover,
.wiki-navbar-wrapper .navbar-nav .nav-link:focus {
    background-color: var(--wk-moonstone);
    color: var(--wk-charcoal);
}
