body {
    margin: 0;
    background-color: white;
}

:root {
    --wk-moonstone: #0FA3B1;
    --wk-beaver: #957964;
    --wk-ecru: #C7AA74;
    --wk-light-ecru: #F9F6F0;
    --wk-rich-black: #0F1A20;
    --wk-green: #2C6E49;
    font-size: 18px;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}


/* Further customisation */
.wiki-navbar-wrapper {
    background: var(--wk-ecru);
    color: var(--wk-moonstone);
}

.wiki-navbar-wrapper .offcanvas {
    background: var(--wk-ecru);
}

.wiki-navbar-wrapper .navbar-nav {
    padding-right: 0;
}

.wiki-navbar-wrapper .navbar-nav .nav-link,
.wiki-navbar-wrapper .navbar-nav .nav-link.active {
    border-radius: 8px;
    padding: .5rem 0;
    width: 180px;
    background: var(--wk-green);
    color: var(--wk-light-ecru);
    box-shadow: 0 2px 8px var(--wk-beaver);
    transition: transform .24s;
}
.wiki-navbar-wrapper .navbar-nav .nav-link:active {
    transform: scale(.9);
}
