{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit page
{% endblock %}

{% block body %}
<section class="row px-2 wiki-new-entry">
  <header class="col-12 pt-2 wiki-header">
    <h1 class="h2">Editing the {{ title }} file</h1>
  </header>
  <form action="{% url 'encyclopedia:edit-page' title %}" method="post" class="col-12 py-2 wiki-form">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label" for="{{ form.content.auto_id }}">{{ form.content.label }}</label>
      {{ form.content }}
    </div>
    {{ form.title }}
    <input type="submit" value="save" class="wiki-button">
  </form>
</section>
{% endblock %}