{% extends "encyclopedia/layout.html" %}

{% block title %}
Create new page
{% endblock %}

{% block body %}
<section class="row px-2 wiki-new-entry">
  <header class="col-12 pt-2 wiki-header">
    <h1 class="h2">Create new entry</h1>
  </header>
  <form action="{% url 'encyclopedia:new-page' %}" method="post" class="col-12 py-2 wiki-new-entry__form">
    {% csrf_token %}
    <div class="form-floating mb-3">
      {{ form.title }}
      {{ form.title.label_tag }}
    </div>
    <div class="form-floating mb-3">
      {{ form.content }}
      {{ form.content.label_tag }}
    </div>
    <input type="submit" value="Save" class="wiki-button">
  </form>
</section>
{% endblock %}